# FlascDataFrame

FlascDataFrame....

In [1]:
import numpy as np
import pandas as pd

from flasc.flasc_dataframe import FlascDataFrame

## Generate synthetic data

In [2]:
# Suppose the we have a 3 turbine farm with turbines names 'TB01', 'TB02', 'TB03'
# For each turbine we have power, wind speed and wind direction data
# Assume that in the native data collection system,
# the signal names for each channel are given below

N = 20  # Number of data points

# Wind speeds
wind_speed_TB01 = np.random.rand(N) + 8.0
wind_speed_TB02 = np.random.rand(N) + 7.5
wind_speed_TB03 = np.random.rand(N) + 8.5

# Wind directions
wind_dir_TB01 = 10 * np.random.rand(N) + 270.0
wind_dir_TB02 = 10 * np.random.rand(N) + 270.0
wind_dir_TB03 = 10 * np.random.rand(N) + 270.0

# Power
power_TB01 = wind_speed_TB01**3
power_TB02 = wind_speed_TB02**3
power_TB03 = wind_speed_TB03**3

# Time
time = np.arange(N)

In [3]:
# Add this data to a pandas dataframe
df = pd.DataFrame(
    {
        "time": time,
        "wind_speed_TB01": wind_speed_TB01,
        "wind_speed_TB02": wind_speed_TB02,
        "wind_speed_TB03": wind_speed_TB03,
        "wind_dir_TB01": wind_dir_TB01,
        "wind_dir_TB02": wind_dir_TB02,
        "wind_dir_TB03": wind_dir_TB03,
        "power_TB01": power_TB01,
        "power_TB02": power_TB02,
        "power_TB03": power_TB03,
    }
)

## Add to FlascDataFrame

In [4]:
# Declare a name_map dictionary to map the signal names to the turbine names
name_map = {
    "time": "time",
    "wind_speed_TB01": "ws_000",
    "wind_speed_TB02": "ws_001",
    "wind_speed_TB03": "ws_002",
    "wind_dir_TB01": "wd_000",
    "wind_dir_TB02": "wd_001",
    "wind_dir_TB03": "wd_002",
    "power_TB01": "pow_000",
    "power_TB02": "pow_001",
    "power_TB03": "pow_002",
}

In [5]:
## Declare an instance of FlascDataFrame
fdf = FlascDataFrame(df, name_map=name_map)

fdf.head()

,time,ws_000,ws_001,ws_002,wd_000,wd_001,wd_002,pow_000,pow_001,pow_002
0,0,8.206988,8.206396,8.664090,277.808931,271.528394,275.011331,552.778829,552.659178,650.382596
1,1,8.586949,7.532949,8.650442,271.356771,274.510414,273.668036,633.164659,427.459566,647.313928
2,2,8.014686,7.773747,9.485233,277.240370,276.973186,279.892380,514.824824,469.776332,853.383123
3,3,8.042582,8.051175,8.994098,274.129257,272.552905,275.382285,520.219401,521.888583,727.566642
4,4,8.452741,7.545510,9.477011,270.600747,276.545153,272.433442,603.938514,429.601592,851.165664

In [6]:
## Illustrate transformation back to user names
fdf.convert_to_user_format().head()

,time,wind_speed_TB01,wind_speed_TB02,wind_speed_TB03,wind_dir_TB01,wind_dir_TB02,wind_dir_TB03,power_TB01,power_TB02,power_TB03
0,0,8.206988,8.206396,8.664090,277.808931,271.528394,275.011331,552.778829,552.659178,650.382596
1,1,8.586949,7.532949,8.650442,271.356771,274.510414,273.668036,633.164659,427.459566,647.313928
2,2,8.014686,7.773747,9.485233,277.240370,276.973186,279.892380,514.824824,469.776332,853.383123
3,3,8.042582,8.051175,8.994098,274.129257,272.552905,275.382285,520.219401,521.888583,727.566642
4,4,8.452741,7.545510,9.477011,270.600747,276.545153,272.433442,603.938514,429.601592,851.165664

In [9]:
## Illustrate wide to long transformation
print(fdf._convert_wide_to_long().head())
print(fdf._convert_wide_to_long().tail())

This is a FlascDataFrame!
   time variable     value
0     0   ws_000  8.206988
1     1   ws_000  8.586949
2     2   ws_000  8.014686
3     3   ws_000  8.042582
4     4   ws_000  8.452741
This is a FlascDataFrame!
     time variable       value
175    15  pow_002  774.157421
176    16  pow_002  632.305914
177    17  pow_002  792.997314
178    18  pow_002  637.105796
179    19  pow_002  684.752353